*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.box{
    width: 40px;
    height: 20px;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: small;
    background: url(https://cdn.pixabay.com/photo/2023/02/27/06/17/hummingbird-7817558_960_720.jpg) no-repeat;
    background-size: cover;
}
.box:hover{
    flex: 0 45%;
    height: 60%;
    transition: 6s ease-in-out;
    box-shadow: 0 10px 100px rgb(255, 12, 61);
    align-items: end;
    font-weight: 700;
    font-size: larger;
    box-sizing: 0 10px 10px  10px blue;
    background-size: cover;
    border-radius: 0 60px 0px 60px;
    /* border-left: 5px solid  yellow;
    border-right: 5px solid green;
    border-top: 5px solid  skyblue;
    border-bottom: 5px solid slateblue; */
    border: 4px solid yellow;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    cursor: progress;
}








